@keyframes midBarDisappears {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-150%);
    display: none;
  }
}

.open {
  -webkit-tap-highlight-color: transparent;
  gap: 0;
  position: relative;
}

.open div:nth-child(1) {
  position: absolute;
  transform: rotate(45deg);
}
.open div:nth-child(2) {
  animation: midBarDisappears 0.3s linear forwards;
  position: relative;
  z-index: -1;
}
.open div:nth-child(3) {
  position: absolute;
  transform: rotate(-45deg);
}
